SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
SEPOLIA_PRIVATE_KEY=YOUR_SEPOLIA_PRIVATE_KEY
SEPOLIA_VAULT_CONTRACT_ADDRESS=0xYourVaultContractAddress
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
